body {
  margin: 40%;
  margin-top: 5%;
  background-color: bisque;
}
.container {
  display: flex;
  margin : 40%;
}
.result{
  text-align: center;
  border: 10%;
}
button{
  border-radius: 10%;
  display: flex;
  margin: 15%;
  margin-top: 0%;
  color: rgb(19, 144, 222);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  background-color: azure;
}
text{
  border-radius: 10%;
}
#result{
  text-align: center;
  align-items: center;
  display: flex;
  margin: auto;
  font-size: 200%;
  font-stretch: condensed;
  text-decoration: underline;
  border-spacing: 10vh;
  
}
